.header {
  display: flex;
  align-items: flex-start;
}
.headerTitle {
  /* flex: 1; */
  width: 52%;
  color: var(--main-black-color);
  text-align: center;
  font-size: 3.6rem;
  font-family: "Homemade Apple", sans-serif;
  text-transform: lowercase;
}
